<!-- The "teleop" application relies on builtin functions except for our TwistCommand service.
  Does not start the LIDAR.
-->
<launch>
  <param name="robot/name" value="SarahBella" type="str"/>
  <param name="robot/type" value="turtlebot3" type="str"/>
  <param name="robot/application" value="teleop" type="str"/>
  <param name="robot/platform" value="RaspberryPi" type="str"/>
  <param name="robot/behavior" value="joystick" type="str"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />
  <!-- Make a slower lidar feed available; only required if we use android client -->
  <node pkg="topic_tools" type="throttle" name="scan_throttle"
        args="messages /scan 1" output="log"/>
  <node pkg="teleop_service" type="monitor_obstacle_distance.py" name="sb_publish_obstacle_distance" output="log" />
</launch>
