<!-- The code turtle_teleop_joy creates the executable teleop_node -->
<launch>
  <param name="robot/name" value="SarahBella" type="str"/>
  <param name="robot/type" value="turtlebot3" type="str"/>
  <param name="robot/application" value="teleop" type="str"/>
  <param name="robot/platform" value="RaspberryPi" type="str"/>
 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  <node pkg="teleop" type="teleop_node" name="teleop_node" output="log
 />

</launch>
