<launch>
  <arg name="default_params"  value="$(find package_template)/param/params.yaml" />
  <rosparam command="load" file="$(arg default_params)" />
  <param name="robot/application" value="system" type="str"/>
  <!-- Launch file for system_check -->
  <node pkg="system_check" type="publish_system.py" name="sb_publish_system" output="log">
  </node>
</launch>
