<!-- The "system" application includes:
     system_check - performance metrics
     sensor_state - sensor values including battery
  Does not start the LIDAR.
  Throttle the sensor state. We don't need battery status 10x/sec
-->
<launch>
  <arg name="default_params"  value="$(find common)/param/params.yaml" />
  <rosparam command="load" file="$(arg default_params)" />
  <param name="robot/application" value="system" type="str"/>
  <include file="$(find system_check)/launch/system_check.launch" />
  <include file="$(find gpio_msgs)/launch/gpio_msgs.launch" />
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_throttled_core.launch" />
</launch>
