<!-- The "teleop" application relies on builtin functions except for our TwistCommand service.
  Does not start the LIDAR.
-->
<launch>
  <param name="robot/name" value="SarahBella" type="str"/>
  <param name="robot/type" value="turtlebot3" type="str"/>
  <param name="robot/application" value="teleop" type="str"/>
  <param name="robot/platform" value="RaspberryPi" type="str"/>
  <param name="robot/behavior" value="joystick" type="str"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_throttled_core.launch" />
  <node pkg="audio_locator" type="analyze_waveform.py" name="sb_serve_analyze_waveform" output="log" />
  <!-- Makes use of "scan_throttle", a slower lidar feed -->
  <node pkg="audio_locator" type="monitor_audio_signal.py" name="sb_publish_location_command" output="log" />
/>
</launch>
