<!-- This is one of the "teleops" applications. It advertises the location of an audio
     signal that exceeds a specified threshold. It does not use LIDAR.
-->
<launch>
  <param name="robot/name" value="SarahBella" type="str"/>
  <param name="robot/type" value="turtlebot3" type="str"/>
  <param name="robot/application" value="teleop" type="str"/>
  <param name="robot/platform" value="RaspberryPi" type="str"/>
  <param name="robot/behavior" value="come" type="str"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_throttled_core.launch" />
  <node pkg="audio_locator" type="analyze_waveform.py" name="sb_serve_analyze_waveform" output="log" />
  <node pkg="audio_locator" type="monitor_audio_signal.py" name="sb_audio_location" output="log" />
/>
</launch>
